header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top:0; left: 0; right:0;
  z-index: 1;
}
  
header img {
  width: 150px;
  height: auto;
  padding: 0;
}
  
header .navbar {
  display: flex;
  align-items: center;
  column-gap: 48px;
}
  
header .navbar a {
  font-size: 22px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  padding: .5rem 1rem;

}
header .navbar a:hover{
  transition: all .75s;
  text-decoration: underline;
  border-radius: 20px;
}

header .navbar #close-btn{
  display: none;
  color: #fff;
}

#menu-btn{
  display: none;  
  
}
@media screen and (max-width: 768px) {
  header{
    position: relative;
  }
  header .navbar {
      display: none;
  }


  #menu-btn {
      display: block;
      font-size: 30px;
      color: #000;
      cursor: pointer;
  }
 
  #close-btn {
      display: none; 
      font-size: 30px;
      color: #fff;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
  }
  header .navbar a{
      color: #fff;
  }

  .navbar.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 9999;
  }

  .navbar a {
      font-size: 22px;
      text-decoration: none;
      color: #fff;
      padding: 1rem;
      border: none;
      text-align: center;
      width: 100%;
  }

  .navbar a:hover {
      transition: all .75s;
  }

  .navbar.active #close-btn {
      display: block;
  }
}