body{
    background-color: var(--legumes-background);
    color: #fff;
}
.nome{
    display: flex;
    justify-content: start;
    margin-left: 15rem;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-height: 400px;
    max-width: 1100px;
}
main #centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    max-height: 400px;
    max-width: 800px;
}
button{
    color: #fff;
    background-color: var(--legumes-background);
    border: solid 3px #fff;
    border-radius: 20px;
    padding: 1rem 2rem;

    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

button:hover{
    background-color: var(--legumes-circle);
    color: #000;
    transform: scale(1.2);
}
#receitas{
    max-height: 500px;
    max-width: 900px;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(2, auto);
    gap: 0 10rem;
    padding: 0;
}
#receitas_legumes{
    max-height: 500px;
    max-width: 900px;
    display: flex;
    flex-direction: column; 
    gap: 0 10rem;
} 


.preparar{
    max-height: 400px;
    max-width: 1000px;
}
h2{
    font-size: 2rem;
    padding: .25rem;
    line-height: 1.1;
}
p{
    font-size: 1.2rem;
}
.tipo{
    padding: 1rem;
}
.tipo img{
    max-width: 20em;
    height: 18em;
    filter: drop-shadow(20px 15px 8px rgba(0, 0, 0, 0.65));
}
.contatos{
    background-color: var(--frutas-circle);
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .3rem;
    border: .5px solid #000000; 
}
.contato{
    font-size: 1rem;
}
#pratos img{
    transform: rotate(-90deg);
}
#pratos{
    position: fixed;
    bottom: -1105px;
    right: -1110px;
  
    z-index: -1;
}
#circle{
    position: fixed;
    bottom: -540px;
    right: -540px;

    z-index: -2;

    width: 1160px;
    height: 1160px;
    border-radius: 100%;
    background-color: var(--legumes-circle);
    transition: all 0.6s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media (max-width: 768px) {
    .nome{
        /* display: flex;
        flex-direction: column;
        align-items: first baseline; */
    }
    #prato{
        display: none;
    }
    #circle{
        display: none;
    }
    main{
        max-height: 100%;
        max-width: 100%; 
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .descricao{
        font-size: 1rem;
    }
    main #centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 450px; 
    }
}
@media (max-width: 450px) {
    .nome{
        margin: 0 40px ;
        padding: 0;
    }
    button{
        border-radius: 10px;
        padding: .5rem 1rem;
    }
    main{
        max-height: 100%;
        max-width: 100%; 
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    main #centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 200px; 
    }
    .descricao{
        font-size: .8rem;
    }
}