.acordeons{
    padding: 1rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}
.prateleira{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.prateleira .title{
    font-family: "DynaPuff", serif;
    font-optical-sizing: auto;
    font-weight: 400 700;
    font-size: 4rem;
    color: #fff;
}
.produtos{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: .5rem;
}
.produtos .produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3.5rem;
    background-image: url('/assets/imgs/fundo.avif');
    border: 3px solid #532c1e; 
}

.nome{
    padding: .5rem;
    font-size: 1.8rem;
    
}
.preco{
    padding: .5rem 1rem;
    background-color: #262a10;
    border: 2px solid #262a10;
    border-radius: 5px;
    margin: .5rem;
}

.produtos .produto img{
    max-width: 90%;
    max-height: 14vw;
    filter: drop-shadow(25px 13px 8px rgba(0, 0, 0, 0.9));
    /* padding: .5rem; */
}