#pratos {
    /* background-image: url('/assets/roleta.png'); */
    position: fixed;
    bottom: -83vh;
    right: -83vh;
  
    z-index: -1;
  }
  
#pratos img {
    width: 165vh;
    height: auto;
  
    transition: all 1.25s;
    transform: rotate(2deg);
}
#pratos.frutas img{
    transform: rotate(2deg);
}
#pratos.legumes img{
    transform: rotate(-90deg);
}
#pratos.folhas img{
    transform: rotate(-179.5deg);
}
#pratos.raizes img{
    transform: rotate(-269.5deg);
}
#circle{
    position: fixed;
    bottom: -90vh;
    right: -94vh;

    z-index: -2;

    width: 145vh;
    height: 145vh;
    border-radius: 100%;
    background-color: var(--frutas-circle);
    transition: all 1.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 768px){
    #pratos{
        /* display: none; */
        bottom: -45vh;
        right: -46vh;
    }
    #pratos img{
        width: 90vh;
        /* height: 50%; */
    }
    #circle{
        /* display: none; */
        bottom: -100vh;
        right: -115vh;
    }
}
@media (max-width: 450px){
    #pratos{
        bottom: -33vh;
        right: -33vh;
    }
    #pratos img{
        width: 65vh;
    }
    #circle{
        bottom: -110vh;
        right: -115vh;
    }
}