#pratos {
    /* background-image: url('/assets/roleta.png'); */
    position: fixed;
    bottom: -110vh;
    right: -110vh;
  
    z-index: -1;
  }
  
#pratos img {
    width: 220vh;
    height: auto;
  
    transition: all 1.25s;
    transform: rotate(2deg);
}
#pratos.frutas img{
    transform: rotate(2deg);
}
#pratos.legumes img{
    transform: rotate(-90deg);
}
#pratos.folhas img{
    transform: rotate(-179.5deg);
}
#pratos.raizes img{
    transform: rotate(-269.5deg);
}
#circle{
    position: fixed;
    bottom: -70vh;
    right: -70vh;

    z-index: -2;

    width: 145vh;
    height: 145vh;
    border-radius: 100%;
    background-color: var(--frutas-circle);
    transition: all 1.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 768px){
    #pratos{
        position: absolute;
        bottom: -50vh;
        right: -50vh;
        margin-top: 2rem;
        /* z-index: 0; */
        display: none;
        
    }
    #pratos img{
        width: 143vh;
        /* height: 50%; */
    }
    #circle{
        position: absolute; 
        margin: 2rem auto;
        bottom: -200vh;
        right: -69vh;
        z-index: -1;
        display: none;
    }
}
@media (max-width: 450px){
    #pratos{
        bottom: -59vh;
        right: -59vh;
    }
    #pratos img{
        width: 117vh;
    }
    #circle{
        bottom: -98vh;
        right: -100vh;
    }
}